footer {
    width: 100%;
    background-color: $black;
    transition: height 0.3s;
    min-height: 50px;

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $m-gap;

        color: $white;

        p {
            margin: 0;
            padding: $m-gap 0;

            @media (max-width: $tablet-size) {
                display: none;
            }
        }
    }
}
