@import './normalize';
@import './vars';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: $primary-fonts;
    font-size: $fonts-size;
    line-height: $fonts-line;
    font-weight: $fonts-weight;
    color: $fonts-color;
    background: $background-color;
}

#page {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

/* Desktop View */
@media screen and (min-width: $desktop-size) {
    #page {
        grid-template-columns: 1fr 7fr;
        grid-template-rows: 10vh 80vh 10vh;
    }
}