header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;

  font-size: 1.75 * $base-font-size;
  //@include responsive-typography;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 calc(2 * $xl-gap);
  transition: height 0.3s;

  @media (max-width: $tablet-size) {
    padding: 0 $xl-gap;
  }
}

.header-hidden {
  transform: translateY(-100%);
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}