main {
  padding: $xl-gap * 2 0;

  @media (max-width: $tablet-size), (max-width: $mobile-size) {
    padding: $xl-gap * 3 0;
  }

  @include responsive-typography;
}

.page-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 $m-gap;

    @media (max-width: $tablet-size), (max-width: $mobile-size) {
      padding: 0 $s-gap;
    }
}
