main {
  padding: $xl-gap * 2 0;

  @media (max-width: $tablet-size), (max-width: $mobile-size) {
    padding: $xl-gap * 3 0;
  }

  @include responsive-typography;
}

.page-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 $m-gap;

    @media (max-width: $tablet-size), (max-width: $mobile-size) {
      padding: 0 $s-gap;
    }

    .preview, .current-project {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: $m-gap;
      margin: 40px 0;
      gap: $m-gap;
      border-radius: 0.5rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }

    hr {
      margin: $m-gap 0;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: $white;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $blue;
        }
      }
    }

    .page-header {
      font-size: 2.5rem;
      margin: 0;
    }

    .page-preview-text {
        font-size: 1.1rem;
        
        p {
          margin: 0;
        }
    }
}
