.menu__wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-size) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: $white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
}

.menu__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: $xl-gap;

   a {
    text-decoration: none;
    color: $black;
    font-size: $base-font-size;
    font-weight: $fonts-weight-bold;
    padding: $s-gap $m-gap;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $blue;
    }

    @include responsive-typography;
  }

  @media (max-width: $tablet-size) {
    display: block;
    margin-left: 0;
    text-align: center;
  }

  .pages_link {
    @media (max-width: $tablet-size) {
      display: block;
      margin-bottom: $l-gap;
    }

    a {
       @media (max-width: $tablet-size) {
        font-size: 2.5 * $base-font-size;
       }
    }

    a:last-child {
      padding-right: 0;
    }
  }

  .social_link {
     @media (max-width: $tablet-size) {
      display: inline-block;
      margin: 0 $s-gap;
    }

    a {
      font-size: 2 * $base-font-size;
    }

    a {
       @media (max-width: $tablet-size) {
        font-size: 2.5 * $base-font-size;
       }
    }
  }
}

.menu__close {
  display: none;

  @media (max-width: $tablet-size) {
    display: block;
    position: absolute;
    top: 2.75rem;
    right: 2.75rem;
    cursor: pointer;
  }

  i {
    font-size: 2.75rem;
  }
}


.open {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}
