// Colors
$black: #2d2e32;
$white: #ffffff;
$blue: #18386f;
$background-color: #f9f9f9;

// Typo
$primary-fonts: 'Poppins', Arial, Helvetica, sans-serif;
$base-font-size: 1rem;
$line-height-ratio: 1.6;
$fonts-weight: 400;
$fonts-weight-bold: 700;
$fonts-color: $black;

// Gaps
$s-gap: 10px;
$m-gap: 20px;
$l-gap: 30px;
$xl-gap: 40px;

// Screens breakpoints
$desktop-size: 768px;
$tablet-size: 767px;
$mobile-size: 320px;

// Typography Sizes
$mobile-font-size: 1 * $base-font-size;
$tablet-font-size: 1.1 * $base-font-size;
$desktop-font-size: 1.25 * $base-font-size;
